<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
    <div class="Intro">
        <h1>Introduction</h1>
        <p>Welcome to my first website!!</p>
            <ul>
                <li><a name="Photos" href="#Photos">Link to photos</a></li>
                <li><a href="Welcome.html">Welcome Page</a></li>
            </ul>
    </div>
    <div class="emailinput">
        <form action="/submit" method="post">
            <p>Get contacted</p>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" placeholder="enter your email here">
            <button type="submit">submit</button>
        </form>
    </div>
    <div class="Photos">
        <h1>Photos</h1>
        <p>These are the images</p>
        <img src="https://www.brilliant.co/cdn/shop/products/L-Train-Grey-1-correct-angle.jpg?v=1499894699" alt="A bicycle!"
                width="600"
             height="400"
        />
        <img src="https://m.media-amazon.com/images/I/81KJ-gxnpiL.jpg" alt="A plushie"
        width="600"
             height="400"/>
    </div>

</body>
</html>